*{
    font-size: 15px;
    font-family:  Arial, sans-serif;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.left, .right{
    display: flex;
    align-items: center;
}

.header > div > div {
    margin: 10px
}

.dots, .dots img{
    height: 20px;
    width: 20px;
}

.signin{
    background-color: #0b57d0;
    color: white;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
}
 .signin:hover{
    box-shadow: .5px .5px #0b57d0;
    cursor: pointer;
}
    
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-bottom: 100px;
}
.google{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.google img{
    height: 350px;
}
.search:hover{
    border: 1px solid rgb(195, 195, 195);
    box-shadow: 1px 1px  rgb(195, 195, 195);
}
.search{
    border: 1px solid rgb(195, 195, 195);
    height: 45px;
    width: 700px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0px 10px 0px 10px;
}

.dots button{
    background: #f7f8f9;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}
.dots button:hover{
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    background: #f7f8f9;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 5px 10px 5px 10px; 
    margin: 20px;
}

.but
.buttons button:hover{
    border: 1px solid rgb(195, 195, 195);
}
.lang{
    display: flex;
    justify-content: center;
}

.lang span{
    color: #1a0dab;
    padding: 0px 2px 0px 2px;
}

.lang span:hover{
    text-decoration: underline;
}

.lang .simple{
    color: black;
    text-decoration: none; 
}
.lang .simple:hover{
    text-decoration: none; 
}
.footer{
    background-color: #f7f8f9;
    /* margin-top: 38vh; */
    padding: 10px 0px 10px 0px;
}

.india{
    padding: 3px;
    margin: 5px;
    margin-left: 10px;
}

.last{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.last span{
    padding: 10px;
}

hr{
    color:rgb(195, 195, 195);
}
i{
    height: 200px;
}
svg{
    height: 20px;
    margin: 3px ;
    width: 20px;
}

.svgBox{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 4px 8px 4px 8px;
    align-self: center;
    background-color: #ececec;
    border-radius: 20px;
    
}

.svgBox span{
    font-size: medium;
    margin-top: 0px;
}

.search-right{
    display: flex;
    align-items: center;
}

.last span:hover{
    text-decoration: underline;
}

input{
    border: none;
    width: 445px;
}
input:focus{
    border: none;
    outline: none;
}

.header a{
    color: black;
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}

.search-btn{
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.search-btn:hover{
    background-color: rgba(230, 228, 228, 0.965);
    cursor: pointer;
}

.search-google{
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}
.search-google:hover{
    cursor: pointer;
}

.body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}